*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:" Poppons",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    background: linear-gradient(#063349 0%,#090979 35%,#00d4ff 100%);
    
}
.box{
    position: relative;
    border-radius: 20px;
    transform-style: preserve-3d;

}
.box .card{
    position: relative;
    background: rgba(255,255,255,0.1);
    width:300px;
    min-height:400px;
    backdrop-filter: blur(10px);
    border:1px solid rgb(255,255,255,0.5);
    border-top:1px solid rgb(255,255,255,0.75);
    border-left:1px solid rgb(255,255,255,0.75);
    border-radius: 20px;
    box-shadow: 0 25px 45px rgb(0,0,0,0.5);
    transform-style : preserve-3d;
}
.element{
    position: absolute;
    top:50px;
    left:-30px;
    width:100px;
    height: 100px;
    background: rgb(255,255,255,0.1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border:1px solid rgb(255,255,255,0.5);
    border-top:1px solid rgb(255,255,255,0.75);
    border-left:1px solid rgb(255,255,255,0.75);
    border-radius: 20px;
    box-shadow: 0 25px 45px rgb(0,0,0,0.5);

}
.element.sk{
    top: 90px;
    left:initial;
    right: 18px;
    width: 82%;
    padding:10px;
      

    text-align: center;
    transform: translateZ(100px);
    background: transparent;
   backdrop-filter: blur(10px);
   border: none;
    box-shadow: none;
    opacity: 1;
    color: white;
}
.element.content{
    top: initial;
    left: initial;
    bottom: 30px;
    right: 55px;
    width: 60%;
    min-height: 200px;
    padding: 10px;
    transform:translateZ(180px) ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
input{
    background: transparent;
    padding-bottom: 5px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    font-size: 0.9em;
    border:1px solid rgb(255,255,255,0.5);
    border-top:1px solid rgb(255,255,255,0.75);
    border-left:1px solid rgb(255,255,255,0.75);
    border-radius: 10px;
    width: 100%;




}
button{
    margin-top: 10px;
    width: 40%;
    background-color: transparent;
    color: white;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border:1px solid rgb(255,255,255,0.5);
    border-top:1px solid rgb(255,255,255,0.75);
    border-left:1px solid rgb(255,255,255,0.75);
    border-radius: 10px;
    width: 100%;
    
}
button:hover{
    background-color: #090979;


}
::placeholder{
    color: rgb(185, 184, 184);
    font-size: 15px;
    padding-left: 5px;
}